::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: $scroll-bar-background;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}