$logo-font: Cookie, san-serif;
$header-height: 70px;
$header-searchbar-height: 50px;

$contact-item-img-size: 45px;
$contact-item-img-text-size: 25px;

$placeholder-color: #cccccc;

$message-max-width: 75%;