@import '../../styles/colors';
@import '../../styles/variables';

.wrapper {
    height: 100vh;
}

.side-pane {
    outline: 1px solid #efefef;
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;

    .row {
        .side-pane-header {
            background: $primary-color;
            color: $primary-text-color;
            height: $header-height;
            
            span {
                font-size: 50pt;
                line-height: $header-height;
                padding-left: 10px;
                font-family: $logo-font;
            }
        }
        .side-pane-list {
            overflow-y: auto;
            max-height: calc(100vh - #{$header-height});

            .list-group-item {
                padding-top: 8px;
                padding-bottom: 8px;
                border: none;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 1px;
                    top: auto;
                    height: 0;
                    width: 85%;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                    border-top: 1px solid $list-divider;
                }
            }

            .contact {
                cursor: pointer;

                p {
                    margin: 0;
                }
                small {
                    color: $secondary-text-color;
                }
            }
        }
    }
}