<div class="row m-0 wrapper">
  <div class="col-sm-4 side-pane mh-100">
    <div class="row">
      <div class="col-sm-12 px-0 side-pane-header">
        <span>Texter</span>
      </div>
      <div class="col-sm-12 side-pane-searchbar">
        <div class="searchbar-wrapper">
          <div class="search-icon-wrapper" (click)="clearSearch($event)">
            <i class="fa fa-arrow-left" [ngClass]="searchQuery == null || searchQuery == ''? 'spin-left-out':'spin-left-in'"></i>
            <i class="fa fa-search" [ngClass]="searchQuery == null || searchQuery == ''? 'spin-right-in':'spin-right-out'"></i>
          </div>
          
          <input type="text" placeholder="Search" [(ngModel)]="searchQuery" name="search" (ngModelChange)="startSearch($event)">
        </div>
      </div>
      <div class="col-sm-12 px-0 side-pane-list">
        <ul class="list-group">
          <li *ngIf="searchQuery && contacts.length < 1" class="empty-contacts-search">
            <p>Sorry! No such contacts found</p>
          </li>
          <a class="list-group-item list-group-item-action contact" (click)="onContactSelect(contact)" *ngFor="let contact of contacts"  [@itemRemove]='state'>
            <div class="contact-item">
              <div class="contact-item-img">
                <div class="contact-item-img-text">
                  {{contact.name | contactIcon}}
                </div>
              </div>

              <div class="contact-item-body">
                <div class="contact-item-body-name">
                  <div *ngIf="!searchQuery">
                    <span><strong>{{contact.name}}</strong></span>
                  </div>
                  <div *ngIf="searchQuery" class="search-result">

                    <strong>
                      <span [innerHTML]="contact.name | searchHighlight:searchQuery | safeHtml"></span>
                    </strong>
                  </div>
                </div>
                <div class="contact-item-body-msg">
                  <small>{{contact.lastMessage}}</small>
                </div>
              </div>
            </div>
            
          </a>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-8 text-pane mh-100">
    <div class="row" *ngIf="displayedMessage">
      <div class="col-sm-12 text-pane-header">
        <div class="contact-item-img">
          <div class="contact-item-img-text">
            {{displayedMessage.contact.name | contactIcon}}
          </div>
        </div>

        <div class="contact-item-body">
          <div class="contact-item-body-name">
            
              <span>
                {{displayedMessage.contact.name}}
              </span>
            
          </div>
        </div>

      </div>
      <div class="col-sm-12 text-pane-body">
        <ul class="list-group" ngx-auto-scroll #scrollMessage lock-y-offset="10">
          <div class="list-group-message-wrapper" *ngFor="let message of displayedMessage.messages | messageGroupByDate:'timestamp'">
            <li class="list-group-item">
              <div class="timestamp-group">
                <span>
                  {{message.key | timestampToDay}}
                </span>
              </div>
            </li>
            <li class="list-group-item" *ngFor="let msg of message.value">
              <div class="message" [ngClass]="msg.isSelf? 'message-self' : 'message-other'">
                <div class="message-wrapper">
                  <span>
                    {{msg.message}}
                  </span>
                  <span class="message-timestamp">{{msg.timestamp | date:'MMM dd yyyy, hh:mm a'}}</span>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>

      <div class="col-sm-12 text-pane-textbox">
        
      </div>


    </div>
  </div>
</div>